<%- include('layouts/header.ejs') %>

<!-- About me Section -->
<hr class="hr1">

<section class="about">
  <div class="container">
    <h2><strong>Who I am?</strong></h2>
    <div class="contents">
      <img src="/images/IMG_6063 2.JPG" alt="person image" />
      <p class="aboutp">
        I am a Computer Science Undergraduate entering my Junior year at Texas A&M - San Antonio. I aim to be a self-motivated, performance-driven, and detail-oritented
        individual who is interested in backend and frontend development. I believe the best way to learn and grow as a developer 
        is by building things. Actively seeking a Summer 2022/2023 Internship. 
      </p>
    </div>
  </div>
</section>

<br>

<hr class="hr1">

    
</body>
</html>