<%- include('layouts/header.ejs') %>
<br> 
<!-- Start of Title -->
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center pro">EDUCATION</h1>
        </div>
    </div>
</div>
<!-- End of Title -->
<hr>

<!-- Start of Uni -->
<div class="container">
    <div class="row">
        <div class="col-4 text-center">
            <h3 class="h3_edu"><strong>Texas A&M University - San Antonio </strong></h3>
            <img src="#" alt="" width="">

        </div>
        <div class="col-4 text-center my-auto">
            <h5 class="h5_edu"> Bachelors of Science in Computer Science</h5>
            <p class="p1"> Began August 2019</p>
            <p class="p1"> Expected to Graduate in Spring 2024</p>
            
        </div>
        <div class="col-4 text-center">

        </div>
        
    </div>
</div>

<hr>

<!-- Start of HS -->
<div class="container">
    <div class="row">
        <div class="col-4 text-center">
            <h3 class="h3_edu"><strong>G.W Brackenridge High School </strong></h3>
            <img src="#" alt="" width="">

        </div>
        <div class="col-4 text-center my-auto">
            <h5 class="h5_edu"> High School Diploma</h5>
            <p class="p1"> Began August 2015</p>
            <p class="p1"> Graduated July 2019</p>
            
        </div>
        <div class="col-4 text-center">

        </div>
        
    </div>
</div>
<hr>
<br>

<hr class="hr1">

<br>
<br>
<br>

</html>