<%- include('layouts/header.ejs') %>

<br>

<!-- Project section -->

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center pro">PROJECTS</h1>
        </div>
    </div>
</div>

<hr class="hr1">

<div class="container"> 
    <div class="row d-flex justify-content-center projectcards"> 
        <div class="col-3 card p-4" style="width: 18rem;">
            <img src="images/flashcard.png" class="card-img-top" alt="ios app">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title text-center">iOS Flashcard app</h5>
              <p class="card-text">Simple FlashCard App that provides a question and an answer when tapped. Flashcards app also allows you to edit your current flashcard, store a set of flashcards, delete a certain flashcard, and will remember your last set of flashcards every time you open the app.</p>
              <a href="https://github.com/Benjaminc575/FlashCards" class="btn btn-primary d-flex justify-content-center mt-auto">Go to App!</a>
            </div>
        </div>

        <div class="col-3 card p-4" style="width: 18rem;">
            <img src="images/DevBen Portfolio Website.png" class="card-img-top" alt="ios app">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title text-center">Alternative Portfolio</h5>
              <p class="card-text">First website serving as a portfolio produced using HTML, CSS, and Javascript. </p>
              <a href="..." class="btn btn-primary d-flex justify-content-center mt-auto">Go to Website!</a>
            </div>
        </div>

        <div class="col-3 card p-4" style="width: 18rem;">
            <img src="images/snake.png" class="card-img-top" alt="ios app">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title text-center" >Snake Game</h5>
              <p class="card-text">Simple snake game created using Java. Keeps track of players highest score and allows multiple playtimes. Complete with a simple UI.</p>
              <a href="https://github.com/Benjaminc575/Snake-demo" class="btn btn-primary d-flex justify-content-center mt-auto ">Go to Game!</a>
            </div>
        </div>
    </div>
</div>


<br>

<hr class="hr1">

<br>
<br>
<br>

    
</body>
</html>