body {
    background-color: white;
}
h1,h2,h3,h4 {
    color: black;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
.heading{
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  margin-top: 28px;
  margin-left: 650px;
}
h5,p{
    color: white;

}
.carousel-inner img {
    margin: auto;
    
}
.Intro {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 25px;
    text-align: center;
}
.hr1 {
    background-color: rgb(24, 198, 233);
    height: 15px;
    border-style: none;

}

/* ---- About me ---- */ 
.aboutp{
    color: black;
    font-size: 20px;
}
.about {
    display: flex;
    padding: 20px 0;
    min-height: 50vh;
    align-items: center;
  }
  
  .about h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .about .contents {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr;
  }
  
  .about .contents {
    width: 50px;
    padding: 5px;
    margin: 0 ;
    border-radius: 30%;
    background-color: rgb(24, 198, 233);
  }
  
  /* ---- changes with smaller screens ---- */
  @media (min-width: 800px) {
    .about {
      padding: 50px 0;
    }
  
    .about h2 {
      margin-bottom: 50px;
    }
  
    .about .contents {
      grid-template-columns: 1fr 4fr;
    }
  
    .about .contents img {
      width: 350px;
    }
  }

  /* ---- contact form ---- */
  .contactform {
    border: solid;
    border-color: white;
  }
  /* ---- google map css ---- */
  .map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }

  /* ---- Card class ---- */
  .card {
    background-color: lightblue;
    margin: 10px;
  }
  .card-img-top {
    border-radius: 10%;
  }
  .pro{
    font-family: Arial, Helvetica, sans-serif;
  }

  /* ---- Education ---- */
  .p1{
    color: black;
    /*text-shadow:
    1px  1px 2px black,
    1px -1px 2px black,
   -1px  1px 2px black,
   -1px -1px 2px black; */
  }
  .h3_edu{
    font-size: 40px;
    color: black;
    

  }
  .h5_edu{
    font-size: 25px;
    color: black;
  }
  hr{
    border-color: black;
  }
  


  